body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.sidebar {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}